.messageForm {
    border: 1px solid #343A40;
    background-color: #343A40;
    width: 45%;
}

.messages{
    border: 1px solid blue;
    justify-content: center;
    /* display: flex;
    flex-direction: column; */
    
}
.Messages {
    border: 1px solid red;
    justify-content: center;
    width: 45%;
    background-color:  #343A40;

}

.messageHead{
    display: flex;
    justify-content: center;
    color: #007BFF
}

.messagesCard {
    border: 1px solid #007BFF;
    display: flexbox;
    flex-direction: row;
    
}

.message__text {
    color: #007BFF
}